# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
       - image: circleci/ruby:2.4.3-node-browsers

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "coruro-ruby/Gemfile.lock" }}
          - v1-dependencies-

      - run:
          name: "Install mailcatcher"
          command: |
            gem install mailcatcher

      - run:
          name: install dependencies
          command: |
            cd coruro-ruby
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./coruro-ruby/vendor/bundle
          key: v1-dependencies-{{ checksum "coruro-ruby/Gemfile.lock" }}

      - run:
          name: run rake
          command: |
            cd coruro-ruby
            bin/rake

      - run:
          name: run cucumber
          command: |
            cd coruro-ruby
            bin/cucumber --tags ~@wip
